/*MRS-Sim_Main_Manuscript/
/*MRS-Sim_rebuttal/
/*MRS-Sim_Supplement/
/Cover\ Letter.docx
/Cover\ Letter.pdf
/Graphical*.docx
/Graphical*.pdf
/*.docx
/*.zip
/*.pdf
/Intro\ and\ Methods*
/*MRS_Sim_semi-final*
/*MRS_Sim_Final*
/*MRS_Sim_Supp*
/*MRS-Sim_Main_Manuscript*
/*MRS-Sim_pages*
/temp.pdf
/*latexdiff/
/*images/
/*scratch*
/remove/*